<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<title>Dettagli Giocatore Admin</title>
	<link rel="stylesheet" href="/css/giocatore.css">
</head>

<body>

	<h1>Dettagli Giocatore</h1>

	<div id="datiGiocatore">
		<div id="image">
			<img src="/images/Figurina Calciatore.png" />
		</div>

		<div>
			<div>
				<span th:text="*{giocatore.nome}">Nome</span>
			</div>

			<div>
				<strong><span th:text="*{giocatore.cognome}">Cognome</span></strong>
			</div>

			<div>
				<span th:text="*{giocatore.dataNascita}">Ruolo</span>
			</div>

			<div>
				<span th:text="*{giocatore.nazionalita}">Nazionalita</span>
			</div>

			<div>
				<span th:text="*{giocatore.ruolo}">Ruolo</span>
			</div>

			<div>
				<span th:if="*{giocatore.squadra}">
					<a th:href="@{'/admin/squadra/' + ${giocatore.squadra.id}}" th:text="${giocatore.squadra.nome}" />
				</span>
			</div>
		</div>
	</div>

	<p><strong>Dati sulla Stagione</strong></p>
	<div id="datiStagione">
		<div>
			<table>
				<tr>
					<td>Presenze Totali: </td>
					<td th:text="*{giocatore.presenzeTotali}">Presenze Totali</td>
				</tr>

				<tr>
					<td>Minuti Giocati: </td>
					<td th:text="*{giocatore.minutiGiocatiTotali}">Minuti Giocati Totali</td>
				</tr>

				<tr th:if="*{giocatore.ruolo == 'Portiere' || giocatore.ruolo == 'Difensore'}">
					<td>Porte Inviolate: </td>
					<td th:text="*{giocatore.cleanSheetTotali}">Clean Sheet Totali</td>
				</tr>

				<tr th:if="*{giocatore.ruolo != 'Portiere'}">
					<td>Gol Segnati: </td>
					<td th:text="*{giocatore.golSegnatiTotali}">Gol Segnati Totali</td>
				</tr>

				<tr>
					<td>Assist Forniti: </td>
					<td th:text="*{giocatore.assistTotali}">Assist Totali</td>
				</tr>

				<tr>
					<td>Ammonizioni: </td>
					<td th:text="*{giocatore.ammonizioniTotali}">Ammonizioni</td>
				</tr>

				<tr>
					<td>Espulsioni: </td>
					<td th:text="*{giocatore.espulsioniTotali}">Espulsioni</td>
				</tr>

			</table>
		</div>
	</div>
	   
	</div>

	<div id="riferimenti">
		<div class="link" th:if="${giocatore.squadra == null}">
			<a th:href="@{'/admin/assegnaSquadra/' + ${giocatore.id}}">Assegna ad una Squadra</a>
		</div>
		<div class="link" th:unless="${giocatore.squadra == null}">
			<a th:href="@{'/admin/inserisciPrestazione/' + ${giocatore.id}}">Inserisci una Partita giocata</a>
		</div>
		<div class="link">
			<a th:href="@{'/admin/prestazioni/' + ${giocatore.id}}">Visualizza le Partite giocate</a>
		</div>
		<div class="link">
			<a th:href="@{/admin/giocatori}">Torna all'Elenco dei Giocatori</a>
		</div>
		<div class="link">
			<a th:href="@{/default}">Torna alla Home Amministratore</a>
		</div>
		<div id="link">
			<a href="/">Logout</a>
		</div>
	</div>

	<footer>
		<div>Realizzato da: </div>
		<div>Riccardo De Cesaris - Matricola: 547762</div>
		<div>Filippo Vannutelli - Matricola: 550745</div>
		<div>Corso di Sistemi Informativi su Web, a.a. 2021-2022</div>
	</footer>

</body>

</html>