<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Home Admin</title>
</head>

<body>
	<h1>Home Admin</h1>

	<div>
		<a th:href="@{/admin/giocatoreForm}">Inserisci un nuovo Giocatore</a>
	</div>
	<div>
		<a th:href="@{/admin/giocatori}">Elenco giocatori</a>
	</div>
	<div>
		<a th:href="@{/admin/squadraForm}">Inserisci una nuova Squadra</a>
	</div>
	<div>
		<a th:href="@{/admin/squadre}">Elenco squadre</a>
	</div>
	
	<div>
		<a th:href="@{/admin/giocatoriPreferiti}">Elenco dei Giocatori preferiti dalla Community</a>
	</div>
	
	<div>
		<a th:href="@{/logout}">Logout</a>
	</div>
</body>

</html>