<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Conferma Cancellazione Squadra</title>
	<link rel="stylesheet" href="/css/squadra.css">
</head>

<body>
	<h1>Cancella una Squadra</h1>
	<div>
		<strong th:text="${squadra.nome}">Borgorosso FC</strong>
	</div>
	<div>
		<em th:text="${squadra.citta}">Prova</em>
	</div>
	<table>
		<tr>
			<td class="button">
				<strong>Confermi di voler cancellare questa Squadra ?</strong>
			</td>
			<td class="button">
				<div class="button">
					<a class="button" href="admin/squadre.html"
						th:href="@{'/admin/confirmDeleteSquadra'+ '/' + ${squadra.id}}" th:text="Conferma">Conferma</a>
				</div>
			</td>
		</tr>
	</table>
	<div id="riferimenti">
		<div class="link">
			<a th:href="@{/admin/squadre}">Torna all'Elenco delle Squadre</a>
		</div>
		<div class="link">
			<a th:href="@{/default}">Torna alla Home Amministratore</a>
		</div>
		<div id="link">
			<a href="/">Logout</a>
		</div>
	</div>

	<footer>
		<div>Realizzato da: </div>
		<div>Riccardo De Cesaris - Matricola: 547762</div>
		<div>Filippo Vannutelli - Matricola: 550745</div>
		<div>Corso di Sistemi Informativi su Web, a.a. 2021-2022</div>
	</footer>

</body>

</html>