<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Conferma Cancellazione Giocatore</title>
	<link rel="stylesheet" href="/css/giocatore.css">
</head>

<body>
	<h1>Cancella un Giocatore</h1>
	<div>
		<strong th:text="${giocatore.nome}">Raffaello</strong>
		<strong th:text="${giocatore.cognome}">Sanzio</strong>
	</div>
	<div>
		<em th:text="${giocatore.ruolo}">Prova</em>
		<em th:text="${giocatore.nazionalita}">Prova</em>
		<em th:text="${giocatore.dataNascita}">Prova</em>
	</div>
	<table>
		<tr>
			<td class="button">
				<strong>Confermi di voler cancellare questo Giocatore ?</strong>
			</td>
			<td class="button">
				<div class="button">
					<a class="button" href="admin/giocatori.html"
						th:href="@{'/admin/confirmDeleteGiocatore'+ '/' + ${giocatore.id}}"
						th:text="Conferma">Conferma</a>
				</div>
			</td>
		</tr>
	</table>

	<div id="riferimenti">
		<div class="link">
			<a th:href="@{/admin/giocatori}">Torna all'Elenco dei Giocatori</a>
		</div>
		<div class="link">
			<a th:href="@{/default}">Torna alla Home Amministratore</a>
		</div>
		<div id="link">
			<a href="/">Logout</a>
		</div>
	</div>

	<footer>
		<div>Realizzato da: </div>
		<div>Riccardo De Cesaris - Matricola: 547762</div>
		<div>Filippo Vannutelli - Matricola: 550745</div>
		<div>Corso di Sistemi Informativi su Web, a.a. 2021-2022</div>
	</footer>

</body>

</html>