<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Conferma Cancellazione Giocatore</title>
</head>

<body>
	<div>
		<h1>Cancella un giocatore</h1>
		<div>
			<strong th:text="${giocatore.nome}">Raffaello</strong>
			<strong th:text="${giocatore.cognome}">Sanzio</strong>
		</div>
		<div>
			<em th:text="${giocatore.ruolo}">Prova</em>
			<em th:text="${giocatore.nazionalita}">Prova</em>
			<em th:text="${giocatore.dataNascita}">Prova</em>
		</div>
		<div>
			<strong>Confermi di voler cancellare questo giocatore?</strong>
			<a href="admin/giocatori.html" th:href="@{'/admin/confirmDeleteGiocatore'+ '/' + ${giocatore.id}}"
				th:text="Conferma">Conferma</a>
		</div>
	</div>
	<div>
		<div>
			<a th:href="@{/admin/giocatori}">Torna all'elenco dei Giocatori</a>
		</div>
		<div>
			<a th:href="@{/default}">Torna alla home amministratore</a>
		</div>
		<div>
			<a href="/">Torna alla pagina iniziale</a>
		</div>
	</div>

	<footer>
		<div>Realizzato da: </div>
		<div>Riccardo De Cesaris - Matricola: 547762</div>
		<div>Filippo Vannutelli - Matricola: 550745</div>
		<div>Corso di Sistemi Informativi su Web, a.a. 2021-2022</div>
	</footer>

</body>

</html>