<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Conferma Cancellazione Squadra</title>
</head>

<body>
	<div>
		<h1>Cancella una squadra</h1>
		<div>
			<strong th:text="${squadra.nome}">Borgorosso FC</strong>
		</div>
		<div>
			<em th:text="${squadra.citta}">Prova</em>
		</div>
		<div>
			<strong>Confermi di voler cancellare questa squadra?</strong>
			<a href="admin/squadre.html" th:href="@{'/admin/confirmDeleteSquadra'+ '/' + ${squadra.id}}"
				th:text="Conferma">Conferma</a>
		</div>
	</div>
	<footer>
		<div>
			<a th:href="@{/admin/squadre}">Torna all'elenco delle Squadre</a>
		</div>
		<div>
			<a th:href="@{/default}">Torna alla home amministratore</a>
		</div>
		<div>
			<a href="/">Torna alla pagina iniziale</a>
		</div>
	</footer>
	
</body>

</html>