<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Squadra Inserita con Successo</title>
	<link rel="stylesheet" href="/css/squadra.css">
</head>

<body>

	<h1>La nuova Squadra è stata inserita con successo!</h1>

	<div>
		<a th:href="@{/default}">Torna alla home amministratore</a>
	</div>
	<div>
		<a href="/">Torna alla pagina iniziale</a>
	</div>

	<footer>
		<div>Realizzato da: </div>
		<div>Riccardo De Cesaris - Matricola: 547762</div>
		<div>Filippo Vannutelli - Matricola: 550745</div>
		<div>Corso di Sistemi Informativi su Web, a.a. 2021-2022</div>
	</footer>

</body>

</html>