<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Giocatori</title>
</head>

<body>
	<div>
		<h1>Elenco giocatori:</h1>
		<table>
			<tr th:each="giocatore : ${giocatori}">
				<td>
					<a href="giocatore.html" th:href="@{'/user/giocatore' + '/' + ${giocatore.id}}"
						th:text="${giocatore.nome} + ' ' + ${giocatore.cognome}">Paolo Rossi</a>
				</td>
			</tr>
		</table>
	</div>
	<footer>
		<div>
			<a href="/default">Torna alla home utente</a>
		</div>
		<div>
			<a href="/">Torna alla pagina iniziale</a>
		</div>
	</footer>
</body>