<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Elenco Giocatori User</title>
	<link rel="stylesheet" href="/css/giocatore.css" />
</head>

<body>
	<div>
		<h1>Elenco giocatori:</h1>
		<table>
			<tr th:if="${giocatori.size > 0}">
				<td><strong>Nome e Cognome</strong></td>
				<td><strong>Ruolo</strong></td>
				<td><strong>Squadra</strong></td>
			</tr>
			
			<tr th:each="giocatore : ${giocatori}">
				<td>
					<a href="giocatore.html" th:href="@{'/user/giocatore' + '/' + ${giocatore.id}}"
						th:text="${giocatore.nome} + ' ' + ${giocatore.cognome}">Paolo Rossi</a>
				</td>

				<td>
					<span th:text="${giocatore.ruolo}" />
				</td>

				<td th:if="${giocatore.squadra} != null">
					<a th:href="@{'/user/squadra/' + ${giocatore.squadra.id}}" th:text="${giocatore.squadra.nome}" />
				</td>
			</tr>
		</table>
	</div>
	<div>
		<div>
			<a href="/default">Torna alla home utente</a>
		</div>
		<div>
			<a href="/">Torna alla pagina iniziale</a>
		</div>
	</div>
	<footer>
		<div>Realizzato da: </div>
		<div>Riccardo De Cesaris - Matricola: 547762</div>
		<div>Filippo Vannutelli - Matricola: 550745</div>
		<div>Corso di Sistemi Informativi su Web, a.a. 2021-2022</div>
	</footer>
</body>