<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Elenco Prestazioni User</title>
</head>

<body>
	<div>
		<h1>Elenco prestazioni:</h1>
		<table>
			<tr th:each="prestazione : ${elencoPrestazioni}">
				<td>
					<a th:href="@{'/user/prestazione' + '/' + ${prestazione.id}}" th:text="'Partita del ' + ${prestazione.dataInserita}"/>
					<span>, giocata contro </span>
					<a th:href = "@{'/user/squadra/' + ${prestazione.squadraAvversaria.id}}" th:text="${prestazione.squadraAvversaria.nome}">Prestazione</a>
				</td>

			</tr>
		</table>
	</div>
	
	<footer>
		<div>
			<a th:href="@{'/user/giocatore/' + ${giocatore.id}}">Torna alla pagina del Giocatore</a>
		</div>
		<div>
			<a href="/default">Torna alla home utente</a>
		</div>
		<div>
			<a href="/">Torna alla pagina iniziale</a>
		</div>
	</footer>
	
</body>

</html>