<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Squadre</title>
	<link rel="stylesheet" href="/css/squadra.css" />
</head>

<body>
	<div>
		<h1>Elenco Squadre</h1>
		<table>
			<tr th:if="${squadre.size > 0}">
				<td><strong>Nome</strong></td>
			</tr>
			<tr th:each="squadra : ${squadre}">
				<td>
					<a href="squadra.html" th:href="@{'/user/squadra' + '/' + ${squadra.id}}"
						th:text="${squadra.nome}">Borgorosso FC</a>
				</td>
			</tr>
		</table>
	</div>
	<div id="riferimenti">
		<div class="link">
			<a href="/default">Torna alla Home</a>
		</div>
		<div id="link">
			<a href="/">Logout</a>
		</div>
	</div>

	<footer>
		<div>Realizzato da: </div>
		<div>Riccardo De Cesaris - Matricola: 547762</div>
		<div>Filippo Vannutelli - Matricola: 550745</div>
		<div>Corso di Sistemi Informativi su Web, a.a. 2021-2022</div>
	</footer>
</body>