<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<title>Dettagli Squadra User</title>
	<link rel="stylesheet" href="/css/squadra.css" />
</head>

<body>

	<h1>Dettagli Squadra</h1>
	<div id="datiSquadra">
		<div id="image">
			<img src="/images/Squadra in formazione.png" />
		</div>
		<div class="dati">
			<div>
				<strong th:text="*{squadra.nome}">Nome</strong>
			</div>

			<div>
				<em th:text="*{squadra.citta}">Prova</em>
			</div>
			   
		</div>

		Elenco dei Giocatori in Rosa:
		<div id="datiGiocatori">
			<table>
				<tr th:if="${elencoGiocatori.size > 0}">
					<td><strong>Nome e Cognome</strong></td>
					<td><strong>Ruolo</strong></td>
				</tr>

				<tr th:unless="${elencoGiocatori.size > 0}">
					<td><strong>NESSUN GIOCATORE IN ROSA</strong></td>
				</tr>
				<tr th:each="giocatore : ${elencoGiocatori}">
					<td>
						<a th:href="@{'/user/giocatore/' + ${giocatore.id}}"
							th:text="${giocatore.nome} + ' ' + ${giocatore.cognome}">Nome Cognome</a>
					</td>

					<td>
						<span th:text="${giocatore.ruolo}" />
					</td>

				</tr>

			</table>
		</div>
	</div>
	<div id="riferimenti">
		<div class="link">
			<a th:href="@{/user/squadre}">Torna all'Elenco delle Squadre</a>
		</div>
		<div class="link">
			<a th:href="@{/default}">Torna alla Home</a>
		</div>
		<div id="link">
			<a href="/">Logout</a>
		</div>
	</div>

	<footer>
		<div>Realizzato da: </div>
		<div>Riccardo De Cesaris - Matricola: 547762</div>
		<div>Filippo Vannutelli - Matricola: 550745</div>
		<div>Corso di Sistemi Informativi su Web, a.a. 2021-2022</div>
	</footer>
</body>

</html>