<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Home Utente</title> 
</head>

<body>
	<h1>Home Utente</h1>
	
	<div>
		<a th:href="@{/user/giocatori}">Elenco giocatori</a>
	</div>
	
	<div>
		<a th:href="@{/user/squadre}">Elenco squadre</a>
	</div>
	
	<div>
		<a th:href="@{/user/classifiche}">Classifiche dei Giocatori per Statistica</a>
	</div>
	
	<div>
		<a th:href="@{/user/toConfrontaGiocatori}">Scegli e Confronta due Giocatori</a>
	</div>
	
	<div>
		<a th:href="@{/logout}">Logout</a>
	</div>
</body>

</html>