h1 {
	text-align: center;
	border-bottom: solid 3px black;
	padding-bottom: 18px;
}

footer {
	margin-top: 33%;
	background-color: black;
	color: white;
	text-align: center;
}

table {
	margin-top: -6px;
	margin-bottom: 28px;
}

#riferimenti {
	margin-top: -12px;
}

div.link {
	margin-bottom: 3px;
}

#link {
	margin-top: 15px;
}

#container {
	margin-top: -10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

a {
	text-decoration: none;
}

a:link, a:visited, a:active {
	color: black;
}

a:hover {
	color: black;
	background-color: #DEB887;
}