<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Login Utente</title> 
</head>
<body>

    <div id="intestazione">
    	<h1>Login</h1>
    </div>
    
	<div id="form">
		<form th:action="@{/login}" method="POST">
			<table>
    			<tr>
    				<td>Username: </td>
    				<td><input type="text" name="username" /></td>
    			</tr>
    			
    			<tr>
    				<td>Password: </td>
    				<td><input type="password" name="password" /></td>
    			</tr>
    			
    			<tr>    			
    				<td><button type="submit">Login</button></td>
    			</tr>
			</table>
    	</form>
	</div>
	
	<div id="tornaHome">
		<a th:href="@{/oauth2/authorization/github}">Login with GitHub</a>
		
		<a th:href="@{/index}">Torna alla pagina iniziale</a>
	</div>

</body>
</html>