<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Login</title>
	<link rel="stylesheet" href="/loginRegister.css" />
</head>

<body>

	<h1>Login</h1>

	<div id="form">
		<form th:action="@{/login}" method="POST">
			<table>
				<tr>
					<td>Username: </td>
					<td><input type="text" name="username" /></td>
				</tr>

				<tr>
					<td>Password: </td>
					<td><input type="password" name="password" /></td>
				</tr>

				<tr>
					<td><button type="submit">Login</button></td>
				</tr>
			</table>
		</form>
	</div>

	<div id="link">
		<a th:href="@{/index}">Torna alla pagina iniziale</a>
	</div>

	<footer>
		<div>Realizzato da: </div>
		<div>
			<span>Riccardo De Cesaris - Matricola: 547762, </span>
			<span>Filippo Vannutelli - Matricola: 550745</span>
		</div>
		<div>Corso di Sistemi Informativi su Web, a.a. 2021-2022</div>
	</footer>

</body>

</html>