<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Pagina Iniziale</title>
	<link rel="stylesheet" href="/css/pagineDiServizio.css" />
</head>

<body>
	<h1 id="intestazione_index">Benvenuto in <em>SIW Football Stats</em></h1>
	<h3>Consulta le statistiche salienti del campionato, confronta i giocatori e trova i tuoi campioni preferiti!</h3>
	<div id="image">
		<img src="images/inizio.png"/>
	</div>
	<h4>Se sei un nuovo utente, registrati subito! Altrimenti accedi con le tue credenziali</h4>
	<div id="riferimenti">
		<div class="link">
			<a th:href="@{/login}">Accedi all'Applicazione</a>
		</div>

		<div class="link">
			<a th:href="@{/register}">Registrati come nuovo Utente</a>
		</div>
	</div>

	<footer>
		<div>Realizzato da: </div>
		<div>Riccardo De Cesaris - Matricola: 547762</div>
		<div>Filippo Vannutelli - Matricola: 550745</div>
		<div>Corso di Sistemi Informativi su Web, a.a. 2021-2022</div>
	</footer>
</body>

</html>