<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Elenco Prestazioni Admin</title>
	<link rel="stylesheet" href="/prestazione.css">
</head>

<body>
	<div>
		<h1>Elenco prestazioni:</h1>
		<table>
			<tr>
				<td><strong>Partita: </strong></td>
				<td><strong>Giocata contro: </strong></td>
			</tr>
			
			<tr th:each="prestazione : ${elencoPrestazioni}">
				<td>
					<a th:href="@{'/admin/prestazione' + '/' + ${prestazione.id}}"
						th:text="${prestazione.dataInserita}" />
				</td>
				<td>
					<a th:href="@{'/admin/squadra/' + ${prestazione.squadraAvversaria.id}}"
						th:text="${prestazione.squadraAvversaria.nome}">Prestazione</a>
				</td>
				<td>
					<div class="button">
						<a class="button" th:href="@{'/admin/toRimuoviPrestazione/' + ${prestazione.id}}">Rimuovi</a>
					</div>
				</td>
				<td>
					<div class="button">
						<a class="button" href="modificaPrestazioneForm.html"
							th:href="@{'/admin/modifyPrestazione' + '/' + ${prestazione.id}}"
							th:text="Modifica">Modifica</a>
					</div>
				</td>
			</tr>
		</table>
	</div>

	<div>
		<div>
			<a th:href="@{'/admin/giocatore/' + ${giocatore.id}}">Torna alla pagina del Giocatore</a>
		</div>
		<div>
			<a href="/default">Torna alla home amministratore</a>
		</div>
		<div>
			<a href="/">Torna alla pagina iniziale</a>
		</div>
	</div>

	<footer>
		<div>Realizzato da: </div>
		<div>Riccardo De Cesaris - Matricola: 547762</div>
		<div>Filippo Vannutelli - Matricola: 550745</div>
		<div>Corso di Sistemi Informativi su Web, a.a. 2021-2022</div>
	</footer>

</body>

</html>