<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Squadre</title>
</head>

<body>
	<div>
		<h1>Elenco squadre:</h1>
		<table>
			<tr th:each="squadra : ${squadre}">
				<td>
					<a href="squadra.html" th:href="@{'/admin/squadra' + '/' + ${squadra.id}}"
						th:text="${squadra.nome}">Borgorosso FC</a>
				</td>

				<td>
					<a href="confermaCancellazioneSquadra.html"
						th:href="@{'/admin/toDeleteSquadra' + '/' + ${squadra.id}}" th:text="Cancella">Cancella</a>
				</td>
			</tr>
		</table>
		<a href="admin/squadraForm.html" th:href="@{/admin/squadraForm}">Inserisci una squadra</a>
	</div>
	<footer>
		<div>
			<a href="/default">Torna alla home amministratore</a>
		</div>
		<div>
			<a href="/">Torna alla pagina iniziale</a>
		</div>
	</footer>
	
</body>

</html>