<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<title>Inserimento Giocatore</title>
	<link rel="stylesheet" href="/css/giocatore.css">
</head>

<body>
	<h1>Inserisci un Nuovo Giocatore</h1>

	<form th:action="@{/admin/giocatore}" method="POST" th:object="${giocatore}">

		<div th:if="${#fields.hasGlobalErrors()}">
			  <p th:each="err : ${#fields.globalErrors()}" th:text="${err}" th:style="'color:red'">Messaggio Errore</p>
		</div>

		<table>
			<tr>
				<td class="elementoForm">Nome del Giocatore: </td>
				<td class="elementoForm"><input type="text" th:field="*{nome}" /></td>
				<td class="elementoForm" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"
					th:style="'color:red'"></td>
			</tr>

			<tr>
				<td class="elementoForm">Cognome del Giocatore: </td>
				<td class="elementoForm"><input type="text" th:field="*{cognome}" /></td>
				<td class="elementoForm" th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"
					th:style="'color:red'"></td>
			</tr>

			<tr>
				<td class="elementoForm">Nazionalità: </td>
				<td class="elementoForm"><input type="text" th:field="*{nazionalita}" /></td>
				<td class="elementoForm" th:if="${#fields.hasErrors('nazionalita')}" th:errors="*{nazionalita}"
					th:style="'color:red'"></td>
			</tr>

			<tr>
				<td class="elementoForm">Data di Nascita: (formato: gg-mm-aaaa)</td>
				<td class="elementoForm"><input type="text" th:field="*{dataNascita}" /></td>
				<td class="elementoForm" th:if="${#fields.hasErrors('dataNascita')}" th:errors="*{dataNascita}"
					th:style="'color:red'"></td>
			</tr>

			<tr>
				<td class="elementoForm">Ruolo: </td>
				<td class="elementoForm">
					<select name="ruolo">
						<option disabled=true>--Inserisci il Ruolo--</option>
						<option>Portiere</option>
						<option>Difensore</option>
						<option>Centrocampista</option>
						<option>Attaccante</option>
					</select>
				</td>
			</tr>

			<tr>
				<td class="elementoForm"><button type="submit">Inserisci</button>
			</tr>
		</table>
	</form>

	<div id="riferimenti">
		<div class="link">
			<a th:href="@{/default}">Torna alla home amministratore</a>
		</div>
		<div id="link">
			<a href="/">Torna alla pagina iniziale</a>
		</div>
	</div>

	<footer>
		<div>Realizzato da: </div>
		<div>Riccardo De Cesaris - Matricola: 547762</div>
		<div>Filippo Vannutelli - Matricola: 550745</div>
		<div>Corso di Sistemi Informativi su Web, a.a. 2021-2022</div>
	</footer>

</body>

</html>