<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<title>Modifica Squadra</title>
	<link rel="stylesheet" href="/css/squadra.css">
</head>

<body>
	<h1>Modifica la Squadra</h1>

	<form th:action="@{'/admin/confirmModifySquadra'+ '/' + ${squadra.id}}" method="POST" th:object="${squadra}">

		<div th:if="${#fields.hasGlobalErrors()}">
			  <p th:each="err : ${#fields.globalErrors()}" th:text="${err}" th:style="'color:red'">Messaggio Errore</p>
		</div>

		<table>
			<tr>
				<td class="elementoForm">Nome della Squadra: </td>
				<td class="elementoForm"><input type="text" th:field="*{nome}" /></td>
				<td class="elementoForm" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" th:style="'color:red'"></td>
			</tr>

			<tr>
				<td class="elementoForm">Sede della Squadra: </td>
				<td class="elementoForm"><input type="text" th:field="*{citta}" /></td>
				<td class="elementoForm" th:if="${#fields.hasErrors('citta')}" th:errors="*{citta}" th:style="'color:red'"></td>
			</tr>

			<tr>
				<td class="elementoForm"><button type="submit">Conferma</button>
			</tr>
		</table>
	</form>

	<div id="riferimenti">
	<div class="link">
		<a th:href="@{/default}">Torna alla Home Amministratore</a>
	</div>
	<div id="link">
		<a href="/">Logout</a>
	</div>

	<footer>
		<div>Realizzato da: </div>
		<div>Riccardo De Cesaris - Matricola: 547762</div>
		<div>Filippo Vannutelli - Matricola: 550745</div>
		<div>Corso di Sistemi Informativi su Web, a.a. 2021-2022</div>
	</footer>

</body>

</html>