<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<title>Inserimento Prestazione</title>
	<link rel="stylesheet" href="/css/prestazione.css">
</head>

<body>
	<h1>Inserisci una nuova Prestazione</h1>

	<form th:action="@{'/admin/inserimentoPrestazione/' + ${giocatore.id}}" method="POST" th:object="${prestazione}">

		<div th:if="${#fields.hasGlobalErrors()}">
			  <p th:each="err : ${#fields.globalErrors()}" th:text="${err}" th:style="'color:red'">Messaggio Errore</p>
		</div>

		<table>
			<tr>
				<td class="elementoForm">Data (formato: gg-mm-aaaa): </td>
				<td class="elementoForm"><input type="text" th:field="*{dataInserita}" /></td>
				<td class="elementoForm" th:if="${#fields.hasErrors('dataInserita')}" th:errors="*{dataInserita}"
					th:style="'color:red'">
				</td>
			</tr>
			<tr>
				<td class="elementoForm">Squadra avversaria: </td>
				<td class="elementoForm"><select name="squadraAvversaria">
						<option disabled=true>--Elenco delle Squadre--</option>
						<option th:each="s : ${squadreAvversarie}" th:text="${s.nome}" th:value="${s.id}" />
					</select>
				</td>
			</tr>
			<tr>
				<td class="elementoForm">Minuti giocati: </td>
				<td class="elementoForm"><input type="text" th:field="*{minutiGiocati}" /></td>
				<td class="elementoForm" th:if="${#fields.hasErrors('minutiGiocati')}" th:errors="*{minutiGiocati}"
					th:style="'color:red'">
				</td>
			</tr>
			<tr>
				<td class="elementoForm">Gol segnati: </td>
				<td class="elementoForm"><input type="text" th:field="*{golSegnati}" /></td>
				<td class="elementoForm" th:if="${#fields.hasErrors('golSegnati')}" th:errors="*{golSegnati}"
					th:style="'color:red'"></td>
			</tr>
			<tr>
				<td class="elementoForm">Assist: </td>
				<td class="elementoForm"><input type="text" th:field="*{assist}" /></td>
				<td class="elementoForm" th:if="${#fields.hasErrors('assist')}" th:errors="*{assist}"
					th:style="'color:red'"></td>
			</tr>
			<tr>
				<td class="elementoForm">Porta inviolata: </td>
				<td class="elementoForm"><input type="text" th:field="*{portaInviolata}" /></td>
				<td class="elementoForm" th:if="${#fields.hasErrors('portaInviolata')}" th:errors="*{portaInviolata}"
					th:style="'color:red'">
				</td>
			</tr>
			<tr>
				<td class="elementoForm">Ammonizioni: </td>
				<td class="elementoForm"><input type="text" th:field="*{ammonizioni}" /></td>
				<td class="elementoForm" th:if="${#fields.hasErrors('ammonizioni')}" th:errors="*{ammonizioni}"
					th:style="'color:red'"></td>
			</tr>
			<tr>
				<td class="elementoForm">Espulsione: </td>
				<td class="elementoForm"><input type="text" th:field="*{espulsione}" /></td>
				<td class="elementoForm" th:if="${#fields.hasErrors('espulsione')}" th:errors="*{espulsione}"
					th:style="'color:red'"></td>
			</tr>

			<tr>
				<td class="elementoForm"><button type="submit">Inserisci</button>
			</tr>
		</table>
	</form>

	<div id="riferimenti">
		<div class="link">
			<a th:href="@{/default}">Torna alla Home Amministratore</a>
		</div>
		<div id="link">
			<a href="/">Logout</a>
		</div>
	</div>

	<footer>
		<div>Realizzato da: </div>
		<div>Riccardo De Cesaris - Matricola: 547762</div>
		<div>Filippo Vannutelli - Matricola: 550745</div>
		<div>Corso di Sistemi Informativi su Web, a.a. 2021-2022</div>
	</footer>

</body>

</html>